.center{
	text-align: center;
}

.title{
	background: #00f;
	color: #fff;
	padding: 10px;
}

.row{
	display: flex;
}

.list{
	flex-grow: ;
}

.content{
	padding: 0 0 0 50px;
	flex-grow: 1;
}

.bold{
	font-weight: bold;
}