*{
	font-family: sans-serif;
	text-align: center;
}

h1{
	background:#FECFFD;
	color: #FF3399;
}

.blue{
	color: #0000FF;
}

hr{
	margin: 0 30vw;
}

.red{
	color: red;
}

.green{
	color: #006600;
}

div{
	margin-top: 10vh;
	background-color: #FFFFCC;
}

div p{
	font-style: italic;
}